<a href="https://colab.research.google.com/github/khatana706/DATA-SCIENCE/blob/main/Naive_bayes_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'], axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [4]:
target=df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
inputs=df.drop(['Survived'], axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [6]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [7]:
inputs.drop('Sex', axis='columns', inplace=True)
inputs.head()

   Pclass   Age     Fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500

In [8]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [9]:
inputs.columns[inputs.isna().any()]
inputs.Age[:20]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64

In [10]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:20]

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

In [11]:
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [13]:
len(x_test)

179

In [14]:
len(x_train)

712

In [15]:
len(y_test)

179

In [16]:
len(y_train)

712

In [17]:
len(inputs)

891

In [18]:
len(target)

891

In [19]:
x_train

     Pclass        Age     Fare  female  male
344       2  36.000000  13.0000       0     1
508       3  28.000000  22.5250       0     1
473       2  23.000000  13.7917       1     0
824       3   2.000000  39.6875       0     1
528       3  39.000000   7.9250       0     1
..      ...        ...      ...     ...   ...
611       3  29.699118   7.0500       0     1
883       2  28.000000  10.5000       0     1
780       3  13.000000   7.2292       1     0
151       1  22.000000  66.6000       1     0
365       3  30.000000   7.2500       0     1

[712 rows x 5 columns]

In [20]:
x_test

     Pclass        Age     Fare  female  male
522       3  29.699118   7.2250       0     1
589       3  29.699118   8.0500       0     1
774       2  54.000000  23.0000       1     0
746       3  16.000000  20.2500       0     1
331       1  45.500000  28.5000       0     1
..      ...        ...      ...     ...   ...
798       3  30.000000   7.2292       0     1
844       3  17.000000   8.6625       0     1
7         3   2.000000  21.0750       0     1
620       3  27.000000  14.4542       0     1
772       2  57.000000  10.5000       1     0

[179 rows x 5 columns]

In [21]:
y_test

522    0
589    0
774    1
746    0
331    0
      ..
798    0
844    0
7      0
620    0
772    0
Name: Survived, Length: 179, dtype: int64

In [22]:
y_train

344    0
508    0
473    1
824    0
528    0
      ..
611    0
883    0
780    1
151    1
365    0
Name: Survived, Length: 712, dtype: int64

In [28]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [29]:
model.fit(x_train, y_train)

GaussianNB()

In [30]:
model.score(x_test, y_test)

0.8491620111731844

In [31]:
x_test[:10]

     Pclass        Age     Fare  female  male
522       3  29.699118   7.2250       0     1
589       3  29.699118   8.0500       0     1
774       2  54.000000  23.0000       1     0
746       3  16.000000  20.2500       0     1
331       1  45.500000  28.5000       0     1
552       3  29.699118   7.8292       0     1
529       2  23.000000  11.5000       0     1
100       3  28.000000   7.8958       1     0
191       2  19.000000  13.0000       0     1
876       3  20.000000   9.8458       0     1

In [32]:
y_test[:10]

522    0
589    0
774    1
746    0
331    0
552    0
529    0
100    0
191    0
876    0
Name: Survived, dtype: int64

In [33]:
model.predict(x_test[:])

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1])

In [40]:
model.predict_proba(x_test[:])

array([[9.89256565e-01, 1.07434348e-02],
       [9.89301592e-01, 1.06984080e-02],
       [4.15948780e-02, 9.58405122e-01],
       [9.85810019e-01, 1.41899807e-02],
       [9.01288609e-01, 9.87113906e-02],
       [9.89290169e-01, 1.07098313e-02],
       [9.73729113e-01, 2.62708867e-02],
       [1.16344493e-01, 8.83655507e-01],
       [9.71257241e-01, 2.87427594e-02],
       [9.87483975e-01, 1.25160250e-02],
       [1.18100606e-01, 8.81899394e-01],
       [9.74233989e-01, 2.57660107e-02],
       [3.83418263e-02, 9.61658174e-01],
       [9.87439342e-01, 1.25606575e-02],
       [1.06284225e-01, 8.93715775e-01],
       [9.89293662e-01, 1.07063375e-02],
       [3.08557041e-46, 1.00000000e+00],
       [9.60513787e-01, 3.94862130e-02],
       [5.51260814e-02, 9.44873919e-01],
       [6.56683947e-03, 9.93433161e-01],
       [1.16450683e-01, 8.83549317e-01],
       [9.89413575e-01, 1.05864246e-02],
       [9.74973612e-01, 2.50263884e-02],
       [9.88297039e-01, 1.17029610e-02],
       [9.87917047e-01, 1.20829531e-02],
       [8.98150517e-01, 1.01849483e-01],
       [2.60663246e-05, 9.99973934e-01],
       [9.89230482e-01, 1.07695182e-02],
       [8.98692138e-01, 1.01307862e-01],
       [9.18863545e-02, 9.08113646e-01],
       [1.18100606e-01, 8.81899394e-01],
       [9.87867612e-01, 1.21323879e-02],
       [1.13609350e-01, 8.86390650e-01],
       [9.04744266e-01, 9.52557344e-02],
       [8.92205612e-02, 9.10779439e-01],
       [6.54797294e-01, 3.45202706e-01],
       [9.86722285e-01, 1.32777149e-02],
       [5.62583462e-02, 9.43741654e-01],
       [9.81418346e-01, 1.85816540e-02],
       [3.40772869e-02, 9.65922713e-01],
       [9.89232025e-01, 1.07679754e-02],
       [4.38826705e-02, 9.56117330e-01],
       [5.61945274e-02, 9.43805473e-01],
       [9.74761036e-01, 2.52389644e-02],
       [9.89464545e-01, 1.05354551e-02],
       [9.71189757e-01, 2.88102432e-02],
       [9.89293662e-01, 1.07063375e-02],
       [9.86634779e-01, 1.33652206e-02],
       [9.88996424e-01, 1.10035764e-02],
       [5.69231026e-01, 4.30768974e-01],
       [9.23229637e-01, 7.67703630e-02],
       [9.89099229e-01, 1.09007711e-02],
       [2.06751538e-03, 9.97932485e-01],
       [2.63847510e-04, 9.99736152e-01],
       [9.88802822e-01, 1.11971784e-02],
       [8.58869153e-01, 1.41130847e-01],
       [4.17157678e-02, 9.58284232e-01],
       [1.16215776e-01, 8.83784224e-01],
       [9.88841669e-01, 1.11583307e-02],
       [9.89545820e-01, 1.04541797e-02],
       [2.85302110e-02, 9.71469789e-01],
       [9.63784026e-01, 3.62159736e-02],
       [9.70661022e-01, 2.93389778e-02],
       [1.18141980e-01, 8.81858020e-01],
       [1.10273246e-01, 8.89726754e-01],
       [8.48492844e-01, 1.51507156e-01],
       [9.74704174e-01, 2.52958260e-02],
       [9.09331700e-01, 9.06682995e-02],
       [9.73830374e-01, 2.61696261e-02],
       [9.89441090e-01, 1.05589098e-02],
       [1.04086220e-01, 8.95913780e-01],
       [9.49721290e-01, 5.02787102e-02],
       [1.28421528e-03, 9.98715785e-01],
       [9.88201000e-01, 1.17990005e-02],
       [5.50033629e-02, 9.44996637e-01],
       [2.98376354e-02, 9.70162365e-01],
       [9.87056356e-01, 1.29436439e-02],
       [1.24864871e-11, 1.00000000e+00],
       [1.18120265e-01, 8.81879735e-01],
       [9.88929301e-01, 1.10706985e-02],
       [5.86803900e-01, 4.13196100e-01],
       [1.02269407e-01, 8.97730593e-01],
       [3.97161122e-01, 6.02838878e-01],
       [9.60513787e-01, 3.94862130e-02],
       [9.70422270e-01, 2.95777297e-02],
       [1.18100606e-01, 8.81899394e-01],
       [9.76155006e-01, 2.38449937e-02],
       [6.14346357e-02, 9.38565364e-01],
       [9.76607615e-01, 2.33923852e-02],
       [9.76159462e-01, 2.38405382e-02],
       [6.34988820e-03, 9.93650112e-01],
       [8.74129616e-02, 9.12587038e-01],
       [9.86258449e-01, 1.37415506e-02],
       [9.89437990e-01, 1.05620097e-02],
       [1.14963088e-01, 8.85036912e-01],
       [9.87967619e-01, 1.20323805e-02],
       [9.89587821e-01, 1.04121790e-02],
       [5.42637816e-02, 9.45736218e-01],
       [4.99323513e-02, 9.50067649e-01],
       [9.76693422e-01, 2.33065779e-02],
       [9.87062088e-01, 1.29379124e-02],
       [2.92639601e-08, 9.99999971e-01],
       [1.18091812e-01, 8.81908188e-01],
       [9.89667044e-01, 1.03329562e-02],
       [9.57510612e-01, 4.24893879e-02],
       [9.89508684e-01, 1.04913160e-02],
       [2.17610495e-04, 9.99782390e-01],
       [9.88036750e-01, 1.19632505e-02],
       [1.18167816e-01, 8.81832184e-01],
       [9.86687566e-01, 1.33124337e-02],
       [9.11186706e-01, 8.88132943e-02],
       [9.86689221e-01, 1.33107793e-02],
       [9.89459623e-01, 1.05403769e-02],
       [9.87952804e-01, 1.20471964e-02],
       [9.73912483e-01, 2.60875175e-02],
       [4.45099740e-01, 5.54900260e-01],
       [9.89301592e-01, 1.06984080e-02],
       [9.87382629e-01, 1.26173711e-02],
       [9.87056356e-01, 1.29436439e-02],
       [9.89257966e-01, 1.07420337e-02],
       [9.76142303e-01, 2.38576974e-02],
       [3.81121621e-04, 9.99618878e-01],
       [6.52953855e-03, 9.93470461e-01],
       [1.90504256e-03, 9.98094957e-01],
       [4.97130670e-02, 9.50286933e-01],
       [9.89334184e-01, 1.06658165e-02],
       [9.76162517e-01, 2.38374830e-02],
       [9.89304743e-01, 1.06952574e-02],
       [9.89413619e-01, 1.05863806e-02],
       [9.89432753e-01, 1.05672472e-02],
       [8.08590002e-01, 1.91409998e-01],
       [1.18100606e-01, 8.81899394e-01],
       [5.65994058e-02, 9.43400594e-01],
       [9.78116972e-01, 2.18830285e-02],
       [9.72074164e-01, 2.79258363e-02],
       [5.20372533e-02, 9.47962747e-01],
       [9.89293662e-01, 1.07063375e-02],
       [1.15062336e-01, 8.84937664e-01],
       [9.75449155e-01, 2.45508447e-02],
       [5.23293849e-02, 9.47670615e-01],
       [4.87396226e-02, 9.51260377e-01],
       [9.76740968e-02, 9.02325903e-01],
       [9.78240545e-02, 9.02175946e-01],
       [9.89285960e-01, 1.07140403e-02],
       [8.12704310e-01, 1.87295690e-01],
       [6.90843599e-03, 9.93091564e-01],
       [6.44043973e-01, 3.55956027e-01],
       [5.52846112e-02, 9.44715389e-01],
       [2.24448286e-06, 9.99997756e-01],
       [9.89425443e-01, 1.05745567e-02],
       [8.83390843e-01, 1.16609157e-01],
       [7.68947905e-01, 2.31052095e-01],
       [9.76419770e-01, 2.35802302e-02],
       [9.73447722e-01, 2.65522785e-02],
       [9.87056356e-01, 1.29436439e-02],
       [5.05793455e-02, 9.49420654e-01],
       [9.85973325e-01, 1.40266748e-02],
       [9.11097875e-01, 8.89021253e-02],
       [7.55273088e-01, 2.44726912e-01],
       [9.09032107e-01, 9.09678931e-02],
       [9.89544359e-01, 1.04556413e-02],
       [9.89109404e-01, 1.08905959e-02],
       [9.87072478e-01, 1.29275217e-02],
       [9.88929301e-01, 1.10706985e-02],
       [7.89706938e-01, 2.10293062e-01],
       [5.73084098e-02, 9.42691590e-01],
       [9.71354854e-01, 2.86451457e-02],
       [9.89257966e-01, 1.07420337e-02],
       [9.89285960e-01, 1.07140403e-02],
       [9.87048675e-01, 1.29513249e-02],
       [9.79294613e-01, 2.07053868e-02],
       [9.89301592e-01, 1.06984080e-02],
       [9.89285960e-01, 1.07140403e-02],
       [1.39262725e-03, 9.98607373e-01],
       [9.89284729e-01, 1.07152715e-02],
       [9.86352926e-01, 1.36470740e-02],
       [9.74040421e-01, 2.59595787e-02],
       [9.89116190e-01, 1.08838103e-02],
       [3.89395545e-02, 9.61060446e-01]])

In [39]:
model.predict(y_test[:])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored